[Install]
WantedBy=multi-user.target

[Unit]
Description=Snapcast server
Documentation=man:snapserver(1)
Wants=avahi-daemon.service
After=network.target time-sync.target sound.target avahi-daemon.service

[Service]
EnvironmentFile=/etc/default/snapserver
{% if snapserver_tempdir is defined %}
ExecStartPre=/bin/mkdir -m 0777 -p {{ snapserver_tempdir }}
ExecStartPre=/bin/chown -R {{ snapserver_user }}:{{ snapserver_group }} {{ snapserver_tempdir }}
{% endif %}
ExecStart=/usr/bin/snapserver
User={{ snapserver_user }}
Group={{ snapserver_group }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
