[Install]
WantedBy=multi-user.target

[Unit]
Description=Snapcast server
Documentation=man:snapserver(1)
Wants=avahi-daemon.service
After=network.target time-sync.target sound.target avahi-daemon.service

[Service]
EnvironmentFile=/etc/default/snapserver
PermissionsStartOnly=True
{% if snapserver_runtime_directory is defined %}
RuntimeDirectory={{ snapserver_runtime_directory }}
RuntimeDirectoryMode=0777
RuntimeDirectoryPreserve=restart
{% endif %}
{% if snapserver_dirs_to_create is defined %}
{% for dir in snapserver_dirs_to_create %}
ExecStartPre=+/bin/mkdir -m 0777 -p {{ dir }}
ExecStartPre=+/bin/chown -R {{ snapserver_user }}:{{ snapserver_group }} {{ dir }}
{% endfor %}
{% endif %}
ExecStart=/usr/bin/snapserver
User={{ snapserver_user }}
Group={{ snapserver_group }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
